.pageMain {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .pageMain {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .pageMain {
    max-width: 72rem;
    padding: 0 3rem;
  }
}

.results {
  margin-top: 1rem;
}
